:root {
    --material-shaduw-style-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --material-shaduw-style-2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --material-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    --material-scale: scale(1.04);
    --primary-color: #29B6F6;
    --secondary-color: #1DE9B6;
    --accent-color: #EC407A;
    --text-color-dark: black;
    --text-color-light: white;
}

@font-face {
    font-family: Ampersand;
  src: local("Baskerville-Italic"), local("GoudyOldStyleT-Italic"), local("Palatino-Italic"), local("BookAntiqua-Italic");
  unicode-range: U+26;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:focus {
    border: 0.2rem solid #FDB4BB;
    border-radius: 0.1rem;
}

body {
    display: flex;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: Ampersand, Roboto, sans-serif;
}

li {
    margin-bottom: 1rem;
    list-style-type: none;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

a[href="#main-content"] {
    opacity: 0;
}

a:focus[href="#main-content"] {
    opacity: 1;
    transition: opacity 1s;
}

input {
    font-size: 1.4em;
    padding-left: 0.7rem;
}

label {
    margin-bottom: 0.4em;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 1rem;
    border: none;
    font-size: 1.3em;
}

button:hover {
    cursor: pointer;
}

.button {
    background-color: #fff;
}

nav {
    background-color: var(--secondary-color);
    grid-area: menu;
    padding: 1.2rem;
}

nav ul {
    position: sticky;
    top: 1.2rem;
}

nav h1 {
    font-size: 300%;
    font-weight: bold;
}

nav li {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav li a {
    font-size: 100%;
}

nav li:focus ul, nav li:hover ul {
    display: block;
}

form {
    display: flex;
    max-width: 37em;
    margin: auto;
    background-color: #fff;
    box-shadow: var(--material-shaduw-style-2);
    border-radius: 0.2rem;
    flex-wrap: wrap;
    min-height: 100vh;
    overflow: hidden;
    transition: all 1s;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.3);
}

@media (min-width: 27em) {
    form {
        width: 90vw;
        opacity: 0;
        animation: slide-in-from-bottom 1s forwards;
        min-height: 100%;
    }
}

form h2 {
    font-size: 4em;
    background-color: var(--primary-color);
    padding: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color-light);
    text-align: center;
    width: 100%;
}

form h2 ~ * {
    width: 100%;
    margin: 0 1.7rem;
}

form input {
    margin-bottom: 2rem;
}

form input[type='checkbox'] {
    width: auto;
    margin-right: 0.7rem;
}

form input[type='checkbox'] + label {
    width: auto;
    margin-left: 0;
    margin-bottom: 0.3rem;
}

form label {
    margin-bottom: 0.4rem;
}

form button {
    font-weight: bold;
    margin: 0;
}

@media (min-width: 27em) {
    form button {
        margin: inherit;
    }
}

@keyframes slide-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(3vh);
    }

    30% {
        transform: translateY(-6vh);
    }

    60% {
        transform: translateY(2vh);
    }

    80% {
        transform: translateY(-1vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/***********************************START PAGE************************************/
.body-start {
    display: grid;
    grid-template: 1fr/minmax(10vw, 14em) 1fr;
    grid-template-areas: "menu main";
    overflow: initial;
    max-width: 100vw;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 32em 1fr 4em/ 100%;
    grid-template-areas: "jumbotron" "content" "footer";
}

main > article {
    background-color: green;
    grid-area: jumbotron;
    position: relative;
    overflow: hidden;
}

main > article::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(15, 0, 89, 0.36);
}

main > article h1 {
    position: absolute;
    font-size: 8vw;
    text-align: center;
    font-weight: bolder;
    z-index: 2;
    color: var(--text-color-light);
    width: 100%;
    padding: 0 7rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

main > article figure {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main > article video {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    object-fit: cover;
    display: flex;
}

main > article figcaption {
    position: absolute;
    bottom: 2rem;
    padding: 0 4rem;
    color: var(--text-color-light);
}

main section {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main section article > a {
    display: inline-flex;
    flex-wrap: wrap;
    box-shadow: var(--material-shaduw-style-1);
    transition: var(--material-transition);
    background-color: red;
    padding: 1rem;
    max-width: 37em;
    background-color: #fff;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

main section article > a:hover, main section article > a:focus {
    box-shadow: var(--material-shaduw-style-2);
    transform: var(--material-scale);
    border: none;
}

main nav {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    background-color: coral;
    padding: 0;
}

main nav ol {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}
