:root {
    --material-shaduw-style-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --material-shaduw-style-2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --material-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    --material-scale: scale(1.04);
    --primary-color: #FF9800;
    --secondary-color: #00E5FF;
    --accent-color: #EC407A;
    --text-color-dark: black;
    --text-color-light: white;
}

@font-face {
    font-family: Ampersand;
  src: local("Baskerville-Italic"), local("GoudyOldStyleT-Italic"), local("Palatino-Italic"), local("BookAntiqua-Italic");
  unicode-range: U+26;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:focus {
    border: 0.2rem solid #FDB4BB;
    border-radius: 0.1rem;
    outline: none;
}

body {
    display: flex;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: Ampersand, Roboto, sans-serif;
}

li {
    margin-bottom: 1rem;
    list-style-type: none;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: var(--text-color-dark);
}

a[href="#main-content"] {
    opacity: 0;
}

a:focus[href="#main-content"] {
    opacity: 1;
    transition: opacity 1s;
}

input {
    font-size: 1.4em;
    padding-left: 0.7rem;
}

label {
    margin-bottom: 0.4em;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 1rem;
    border: none;
    font-size: 1.3em;
}

button:hover {
    cursor: pointer;
}

/************************Navigation***********************************/
nav {
    grid-area: menu;
}

nav p {
    font-size: 4em;
    color: var(--text-color-light);
    background-color: var(--secondary-color);
    padding: 0.7rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

nav ul {
    width: 100%;
}

nav ul ul {
    padding-left: 1.4rem;
    padding-bottom: 0;
}

nav ul ul li:last-of-type {
    margin-bottom: 0;
}

nav h1 {
    font-size: 300%;
    font-weight: bold;
}

nav li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

nav li a {
    display: flex;
    font-size: 100%;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s;
    width: 100%;
    padding: 1rem;
}

nav li a::before {
    content: "";
    height: 100%;
    width: 0.4rem;
    background-color: var(--secondary-color);
    display: inline-block;
    margin-right: 0.2rem;
    transform: scale(0);
    transition: all 0.4s;
}

nav li a:hover, nav li a:focus {
    outline: none;
    border: none;
    color: var(--text-color-dark);
    background-color: #dfdfdf;
}

nav li a:hover:before, nav li a:focus:before {
    transform: scale(1);
}

nav li:focus ul, nav li:hover ul {
    display: block;
}

form {
    display: flex;
    max-width: 37em;
    margin: auto;
    background-color: #fff;
    box-shadow: var(--material-shaduw-style-2);
    border-radius: 0.2rem;
    flex-wrap: wrap;
    min-height: 100vh;
    overflow: hidden;
    transition: all 1s;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.3);
}

@media (min-width: 27em) {
    form {
        width: 90vw;
        opacity: 0;
        animation: slide-in-from-bottom 1s forwards;
        min-height: 100%;
    }
}

form h2 {
    font-size: 4em;
    background-color: var(--secondary-color);
    padding: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color-light);
    text-align: center;
    width: 100%;
}

form h2 ~ * {
    width: 100%;
    margin: 0 1.7rem;
}

form input {
    margin-bottom: 2rem;
}

form input[type='checkbox'] {
    width: auto;
    margin-right: 0.7rem;
}

form input[type='checkbox']:focus, form input[type='checkbox']:hover {
    border: solid 0.2rem var(--secondary-color);
}

form input[type='checkbox'] + label {
    width: auto;
    margin-left: 0;
    margin-bottom: 0.3rem;
}

form label {
    margin-bottom: 0.4rem;
}

form button {
    font-weight: bold;
    margin: 0;
    background-color: var(--secondary-color);
}

@media (min-width: 27em) {
    form button {
        margin: inherit;
    }
}

@keyframes slide-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(3vh);
    }

    30% {
        transform: translateY(-6vh);
    }

    60% {
        transform: translateY(2vh);
    }

    80% {
        transform: translateY(-1vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/***********************************START PAGE************************************/
.body-start {
    display: grid;
    grid-template: 1fr/minmax(10vw, 14em) 1fr;
    grid-template-areas: "menu main";
    overflow: initial;
    max-width: 100vw;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 32em 1fr minmax(2em, max-content)/100%;
    grid-template-areas: "jumbotron" "content" "footer";
    position: relative;
}

main > article {
    grid-area: jumbotron;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

main > article::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(15, 0, 89, 0.76);
}

main > article h1 {
    position: absolute;
    font-size: 6vw;
    text-align: center;
    font-weight: bolder;
    z-index: 2;
    color: var(--text-color-light);
    width: 60%;
    margin-top: 4rem;
    text-transform: uppercase;
}

main > article figure {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main > article video {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    object-fit: cover;
    display: flex;
}

main > article figcaption {
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    padding: 0 4rem;
    color: var(--text-color-light);
}

main > article figcaption a {
    color: var(--secondary-color);
    transition: all 0.7s;
}

main > article figcaption a:hover, main > article figcaption a:focus {
    border: 0.3rem solid var(--secondary-color);
    transform: scale(1.2);
}

main section {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    padding: 4rem 1rem 1rem 1rem;
    position: relative;
}

main section article {
    position: relative;
    overflow: hidden;
    max-width: 24em;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

main section article::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    animation: slide-away 1s 0.2s forwards ease-in;
    z-index: 2;
}

main section article > a {
    display: inline-flex;
    flex-wrap: wrap;
    transition: var(--material-transition);
    max-width: 24em;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.37);
    transition: color 2s;
}

main section article > a:hover, main section article > a:focus {
    border: none;
    background-color: #fff;
}

main section article > a:hover img, main section article > a:focus img {
    transform: translatex(0);
    background-color: var(--secondary-color);
}

main section article > a img {
    order: -1;
    display: inline-block;
    width: 100%;
    height: 17em;
    object-fit: contain;
    transform: translatex(-4em);
    transition: all 0.4s;
}

main section article > a h1 {
    padding: 2rem;
}

main section article > a p {
    padding: 0 2rem 2rem 2rem;
}

main section article fieldset {
    display: flex;
    border: none;
    padding: 2rem;
    justify-content: space-evenly;
    margin-top: auto;
}

main section article fieldset input[type=radio] {
    transition: all 0.7s;
    opacity: 0;
}

main section article fieldset input[type=radio]:hover + label, main section article fieldset input[type=radio]:focus + label {
    border: solid 0.2rem var(--secondary-color);
}

main section article fieldset input[type=radio]:checked + label {
    transform: scale(1.2);
    animation: jumping 1s infinite alternate;
}

main section article fieldset label {
    width: 20%;
}

main section article fieldset legend {
    padding-bottom: 0.4rem;
    border-bottom: solid 0.2rem black;
    width: 100%;
}

main div {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    pointer-events: none;
}

main div div {
    transition: all 0.7s;
}

main div section {
    visibility: hidden;
    pointer-events: none;
    width: 40em;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 1rem;
    opacity: 0;
    transform: translate(100%, 100%);
    transition: all 1s;
}

main div section form {
    box-shadow: none;
}

main div > label {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    pointer-events: initial;
    cursor: pointer;
    transition: all 0.7s;
    background-color: var(--primary-color);
    padding: 1rem;
    box-shadow: var(--material-shaduw-style-2);
    border-radius: 0.4rem;
    z-index: 2;
    color: var(--text-color-light);
    border: solid 0.4rem transparent;
}

main div > label:before {
    content: "start: ";
}

main div > label:focus, main div > label:hover {
    border-color: red;
}

main ol {
    width: 100%;
}

main textarea {
    width: 100%;
}

main button[type=submit] {
    width: 100%;
    margin-top: 1rem;
}

main input[type=checkbox] {
    transform: translatex(-10vw);
}

main input[type=checkbox]:hover ~ label, main input[type=checkbox]:focus ~ label {
    border-color: var(--secondary-color);
}

main input[type=checkbox]:checked ~ section {
    background-color: white;
    box-shadow: var(--material-shaduw-style-2);
    visibility: visible;
    pointer-events: initial;
    opacity: 1;
    transform: translate(0, 0);
}

main input[type=checkbox]:checked ~ label {
    transform: translate(0, -28.6em);
    border: solid 0.4rem var(--secondary-color);
}

main input[type=checkbox]:checked ~ label:before {
    content: "stop: ";
}

main input[type=checkbox]:checked ~ div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(3px) contrast(0.8) brightness(0.8);
    z-index: -1;
    transform: scale(1);
}

main nav {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding: 1rem;
}

main nav h1 {
    display: block;
    width: 100%;
    text-align: center;
}

main nav ol {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

main nav ol a {
    font-size: 1.2em;
}

main nav progress {
    width: 100%;
    border: none;
    margin-top: 1rem;
}

main nav progress::-moz-progress-bar {
    background-color: green;
}

@keyframes slide-away {
    from {
        transform: translatex(0);
    }

    to {
        transform: translatex(100%);
    }
}

@keyframes jumping {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.7);
    }
}
