nav{
    background-color: var(--secondary-color);
    grid-area: menu;
    padding: 1.2rem;
    
    ul{
        position: sticky;
        top: 1.2rem;
    }

    h1{
        font-size: 300%;
        font-weight: bold;
    }

    li{
        display: flex;
        justify-content: center;
        flex-direction: column;

        a{
            font-size: 100%;
        }
    }

    li:focus, li:hover{
        ul{
            display: block;
        }
    }

}